.DS_Store
*.db
.db-shm
.db-wal

.idea/

/web/node_modules
/web/dist
/web/.idea

/server/.idea
/server/.kotlin
/server/build
/server/target
/server/.gradle
/server/logs/server/.gradle/
*.db-*
.cunzhi-memory/
web/.yarn/
logs/
server/download/
server/src/main/resources/static/

download/
db/
