.DS_Store
.db
.db-shm
.db-wal

/web/node_modules
/web/dist
/web/.idea

/server/.idea
/server/.kotlin
/server/build
/server/.gradle
/server/logs/server/.gradle/
*.db-*
.cunzhi-memory/
web/.yarn/
logs/
